body {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-image: url('../images/active_door.png');
    background-size: 1400px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.biz-udpmincho-regular {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
}

.game_over {
    background-image: url('../images/game_over.png');
    background-size: 1400px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.game_over h1 {
        font-family: "MS Serif";
        font-size: 150px;
        color: #ffd700;
        margin-top: 150px;
        text-align: center;
        text-shadow: 5px 5px 5px #2a0157;
        line-height: 1.5em;
}



.clear {
    background-image: url('../images/clear.png');
    background-size: 1400px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.clear h1 {
    color: #ffd700;
    font-size: 110px;
    /*130からホームボタン設置のため調整しました（山口） */
    text-align: center;
    text-shadow:
        3px 0px 1px rgb(248, 244, 238),
        0 0 5em rgb(65, 65, 2),
        0 0 0.5em rgb(233, 192, 58);
}

.clear p {
    color: #ffd700; /* yellowから変更しました(大久保) */
    font-size: 40px; /* 30pxから40pxに変更しました(大久保) */
    text-align: center;
    text-shadow:
        3px 0px 1px rgb(51, 38, 2),
        0 0 5em rgb(226, 112, 18),
        0 0 0.5em rgb(233, 192, 58);
    line-height: 1.5em; /* 行間設定しました（大久保） */
    background-color: #2a0157c2; /* 背景色設定…不要でしたら削除してください。*/
}

.top {
    background-image: url('../images/top.png');
    background-size: 1400px;
    background-position: center 10px;
    background-repeat: no-repeat;
}


.top h1 {
    font-size: 85px;
    margin: 50px 100px;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

/* top */

.button-container {
    position: relative;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 100px;
}

.rule {
    color: red;
    font-size: 40px;
    margin-top: 95px;
    padding-top: 20px;
}

.ruleText {
    color: white;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 800;
    line-height: 2;
    text-shadow:
        3px 0px 1px rgb(70, 57, 3),
        0 0 5em rgb(160, 127, 17),
        0 0 0.5em rgb(233, 192, 58);
}
.key-icon{
    width: 30px;
}

#remainingKeys {
    color: white;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
    text-shadow:
        3px 0px 1px rgb(70, 57, 3),
        0 0 5em rgb(160, 127, 17),
        0 0 0.5em rgb(233, 192, 58);
}


#quiz-container {
    margin: 0 auto;
    max-width: 920px;
    border-right: 4px solid #333;
    border-radius: 30px;
    background-image: linear-gradient(-45deg, #8f8c3c 0%, #a4ae15 30%, #959501 20%, #9da710 30%, rgb(188, 192, 87) 53%, #827900 90%);
}

/* question */
#question {
    text-shadow: 2px 2px 2px #d1bb3e;
    padding: 30px;
    color: #000;
    font-size: 30px;
    word-break: break-all;
    line-height: 1.3;
}


#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
}

#choices button {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 600;
    flex: 1;
    margin: 120px 20px;
    padding: 20px 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: #2a0157d1;
    color: #d1bb3e;
    border: 3px solid #ffd700;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.button:hover,
#choices button:hover {
    background-color: #cdb217f2;
    color: #2a0157;
    transform: scale(1.1);
    border: 3px solid #2a0157;
}

    .button {
        font-family: "BIZ UDPMincho", serif;
        font-weight: 600;
        padding: 15px 30px;
        font-size: 25px;
        background-color: #2a0157;
        color: #e8c824;
        border: 2px solid #ffd700;
        border-radius: 30px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }


/* モーダルウィンドウ用のスタイル */
#modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 98%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

#modal-close-btn {
    margin-top: 5%;
}

#modal-text {
    font-family: "Kosugi", sans-serif;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: rgb(255, 0, 0);
    font-size: 35px;
    font-weight: 200;
    line-height: 2;
    -webkit-text-stroke: 1px #000;
}

.modal-content {
    width: 70%;
    height: 80%;
    max-width: 1000px;
    max-height: 300px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(227, 238, 129);
}

#modal-explanation {
    font-weight: 600;
    font-size: 30px;
    color: black;
    text-shadow: none;
    line-height: normal;
    margin: 10px 0;
    /* text-align:justify */
}

.mask {
    background-color: rgba(0, 0, 0, 0.378);
    max-width: 1000px;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}