
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url('sotugyou/haikei3.png');
    background-size: 1250px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.over{
    background-image:url('sotugyou/over.jpg');
    background-size: 1000px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.kuria{
    background-image:url('sotugyou/kuria.png');
    background-size: 1250px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

h1{
    color: rgb(223, 231, 237);
    margin-top: 150px;
}
.setumei{
    color: red;
    font-size: 50px;
}
p{
    font-size: 20px;
    font-weight: 800;
}

#quiz-container {
    margin: 50px auto;
}

button {
    padding: 10px 15px;
    margin: 160px 22px;
    font-size: 16px;
    cursor: pointer;
}
