
.body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url('materials/haikei3.png');
    background-size: 1300px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.over{
    background-image:url('materials/over2.png');
    background-size: 1000px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.over2{
    color: rgb(169, 26, 26);
    font-size: 150px;
    text-align: center;
}

.kuria{
    background-image:url('materials/kuria.png');
    background-size: 1300px;
    background-position: center 10px;
    background-repeat: no-repeat;
}
.kuria2{
    color: yellow;
    font-size: 130px;
    text-align: center;
}
.kuria3{
    color: yellow;
    font-size: 50px;
    text-align: center;
}

.top{
    background-image:url('materials/top.png');
    background-size: 1400px;
    background-position: center 10px;
    background-repeat: no-repeat;
}

.top2{
    font-size: 85px;
    margin: 50px 100px;
    line-height: 1.2; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.button-container {
    position: relative;
        text-align: center;
        margin-top: 10vh; /* 画面の垂直中央から下に40%移動 */
        transform: translateY(-50%);
        margin-right: 80px; /* ボタンを左に80px移動 */
        
}

h1{
    color: rgb(223, 231, 237);
    margin-top: 150px;
}
.setumei{
    color: red;
    font-size: 50px;
}
p{
    font-size: 23px;
    font-weight: 800;
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    color: rgb(216, 218, 77);
}

#quiz-container {
    margin: 50px auto;
}

.sentaku {
    padding: 10px 15px;
    margin: 160px 22px;
    font-size: 16px;
    cursor: pointer;
}